:root {
}

html,
body {
	overflow-x: hidden;
}

body {
	font-family: 'Almarai', sans-serif;
	color: #666;
	background: rgb(255, 255, 255);
	/* background: linear-gradient(75deg, rgba(255, 255, 255, 1) 0%, rgba(220, 220, 232, 1) 47%, rgba(255, 255, 255, 1) 100%); */
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--bs-dark);
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600
}

a {
	color: var(--bs-blue);
	text-decoration: none
}

a:hover {
	text-decoration: underline;
	color: var(--dark-blue)
}

a:focus {
	text-decoration: none
}

p {
	line-height: 1.5
}

.btn,
a.btn {
	background: var(--dark-blue);
	color: #fff;
	padding: 8px 15px;
	border-radius: 2px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	text-decoration: none
}

.btn:hover,
a.btn:hover {
	color: #fff;
	background: var(--dark-blue);
	text-decoration: none
}

.btn:focus,
a.btn:focus {
	box-shadow: none
}

/* Section style */

.wrapper {
	padding-top: 60px;
	padding-bottom: 60px
}

.section {
	/* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14); */
	padding: 45px;
	margin-bottom: 45px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	/* background-color: #fff; */
	border-radius: 7px;
	height: 100vh;
}

.section:nth-child(4) {
	height: auto;
}

.section:last-child {
	margin-bottom: 0
}

.section-title {
	margin-top: 0;
	margin-bottom: 45px;
	font-size: 32px;
	text-align: center
}

.section-title .title-icon span {
	font-size: 2.5rem;
}

.section-title .title-icon span .icon {
	color: var(--bs-blue);
}

.darkmode-toggle {
	opacity: 1;
	border-radius: 7px !important;
	z-index: 200 !important;
}